<!DOCTYPE html>
<html>
  <head>
    <title>Thotrs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav>

    <div class="nav-content">
      <a class="logo" href="/">Logo</a>
      <div class="menu">
        <ul class="nav-menu">
          <li class="nav-elem">
            <%= link_to 'О нас', '/layouts/index#about' %>
          </li>
          <li class="nav-elem">
            <%= link_to 'Оборудование', '/rooms/show' %>
          </li>
          <li class="nav-elem">
            <%= link_to 'Залы', '/rooms/show' %>
          </li>
          <li class="nav-elem">
            <%= link_to 'Контакты ', '/rooms/show' %>
          </li>
        </ul>
      </div>
    </div>

  </nav>
  <section>
    <div class=timetable></div>
  </section>

    <%= yield %>

  <footer id="ftr">

    <div class="footer-content">
      <div class="footer-columns">
        <div class="footer-column">
          <span class="copyright">Copyright © ъуъ 2019</span>
        </div>
        <div class="footer-column">
          <ul class="footer-links">
            <li class="footer-link"><a href="https://vk.com/arenahistory">VK</a></li>
            <li class="footer-link"><a href="https://www.instagram.com/sincere_artist/">Instagram</a></li>
            <li class="footer-link"><a href="#">Twitter</a></li>
          </ul>
        </div>
        <div class="footer-column">
          ты супер
        </div>
      </div>
    </div>

  </footer>

  </body>
</html>
