<!DOCTYPE html>
<html>
  <head>
    <title>Thotrs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="/app/javascript/packs/timetable.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav>

    <div class="nav-content">
      <a class="logo" href="#">Logo</a>
      <div class="menu">
        <ul class="nav-menu">
          <li class="nav-elem">
            <a href="#">О нас</a>
          </li>
          <li class="nav-elem">
            <a href="#">Оборудование</a>
          </li>
          <li class="nav-elem">
            <a href="#">Залы</a>
          </li>
          <li class="nav-elem">
            <a href="#">Контакты</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
  <section>
    <div class=timetable></div>
  </section>

    <%= yield %>

  <footer>

    <div class="footer-content">
      <div class="footer-columns">
        <div class="footer-column">
          <span class="copyright">Copyright © ъуъ 2019</span>
        </div>
        <div class="footer-column">
          <ul class="social">
            <li><a href="#">VK</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Twitter</a></li>
          </ul>
        </div>
        <div class="footer-column">
          ты супер
        </div>
      </div>
    </div>

  </footer>

  </body>
</html>
